@import url('https://fonts.google.com/share?selection.family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700');

body {
    margin: 0%;
    padding: 0%;
    background-image: url(../assets/Fundo\ do\ site.png);
    background-size: cover;
}

.header {
    height: 20%;
    border-bottom: 2px solid #000
}

.container-header {
    margin: 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
}

